.sidebar{
    position:fixed;
    left:0px;
    bottom:0px;
    background-color: white;
    top:55px;
    width:72px;
    z-index:200;
    padding-top:5px;
}
.sidebar-link{
    height:74px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    flex-direction: column;
}
.sidebar-link:hover{
    background-color: rgb(233, 233, 233);
}
.sidebar-link img{
    height:24px;
    margin-bottom: 6px;
}
.sidebar-link div{
    font-size: 10px;
}